body {
  text-align: center;
}

#input-city {
  max-width: 300px;
}

.detailed-btn {
  margin: 10px;
  background: d9f0f7;
  border-color: antiquewhite;
  font-size: 10px;
}

.lbl-color {
  color: #5c6268;
}

.input-max {
  width: 50%;
  margin: 0 auto;
  background: transparent;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  max-width: 720px;
}
h2 {
  font-size: 13px;
  color: rgba(119, 108, 108, 0.534);
}
h3 {
  font-size: 32px;
  color: #8ea5b9;
}
.time-n-date {
  padding: 10px;
}
.city {
  font-size: 35px;
  color: #5c6268;
}
.city::before,
::after {
  box-sizing: border-box;
}

.temp {
  font-size: 12px;
  color: #5c6268;
}

p.forecast {
  text-align: left;
  color: lightgray;
}
.details {
  color: #5c6268;
  font-size: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn2 {
  margin-top: 20px;
  margin-bottom: 40px;
}
.card-img {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.forecast-day {
  color: rgb(141, 139, 139);
  font-size: 12px;
}
.forecast-temp {
  color: rgb(141, 139, 139);
  font-size: 20px;
}
.forecast-temp-range {
  color: rgb(141, 139, 139);
  font-size: 10px;
}
.col-border {
  border-right-color: #5c6268;
  border: 1px solid grey;
}
.card {
  text-align: center;
}
#git {
  display: block;
  text-align: left;
  font-size: 12px;
}
.symbol {
  font-size: 15px;
}

.temp strong {
  color: #5c6268;
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}
.units {
  position: relative;
  bottom: 33px;
  font-size: 12px;
}
#sun {
  font-size: 50px;
  margin: 30px;
}
.temp-info {
  margin-top: 15px;
}
.temp .active {
  color: #5c6268;
  cursor: default;
}
.temp .active:hover {
  text-decoration: none;
}
#icon-forecast {
  max-width: 50px;
}
.current-temperature {
  font-size: 22px !important;
  color: #868b8f;
}
.weather-forecast-max {
  color: #4b4e50;
  font-size: 11px;
}
.weather-forecast-min {
  color: #868b8f;
  font-size: 11px;
}
.week-day {
  font-size: 11px !important;
}
#forecast {
  text-align: left !important;
}
